.title {
  text-align:center;
}

/*fixe le footer en bas*/
.main_containeur{
  min-height: 800px;
  background-color: :red;
}

.footer {
  text-align: center;
}
.footer img{
  height: 50px;
  margin: 10px;
}
