{% extends "base.html.twig" %}

{% block pageTitle %}Actualités{% endblock %}

{% block title %}Actualités{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <h4>Actu 1</h4>
      <p>Paragraphe de blabla</p>
    </div>
    <div class="col-2">
      <a href="#" target="_blank">Lien intéressant</a>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col">
      <h4>Actu 1</h4>
      <p>Paragraphe de blabla</p>
    </div>
    <div class="col-2">
      <a href="#" target="_blank">Lien intéressant</a>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col">
      <h4>Actu 1</h4>
      <p>Paragraphe de blabla</p>
    </div>
    <div class="col-2">
      <a href="#" target="_blank">Lien intéressant</a>
    </div>
  </div>
  <hr>
  <br>
{% endblock %}
