<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CreNum - {% block pageTitle %}{% endblock %}</title>
    <link href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet"/>
    <link href="vendor/components/font-awesome/css/fontawesome.min.css" rel="stylesheet"/>
    <link href="vendor/components/font-awesome/css/solid.min.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  </head>
  <body onkeydown="touch(event)">

    <div class="main_containeur">
      {% include 'navbar_menu.html.twig' %}
      <br>
      <div class="{% block containertype %}container{% endblock %}">
      <h3 class="title">{% block title %}{% endblock %}</h3><br>
        {% block body %}
          Pas encore de contenu.
        {% endblock %}
      </div>
    </div>

    <br>
    <div class="footer">
    <!--justify-content-between-->
      <div class="row">
        <div class="col-9">
          <a target="_blank" href="http://www.univ-grenoble-alpes.fr/">
          <img src="assets/img/uga.png" title="Université Grenoble Alpes"/>
          </a>
          <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/">
          <img src="assets/img/litt&arts.png" title="Litt&Arts (UMR 5316)"/>
          </a>
          <a target="_blank" href="http://www.elan-numerique.fr/">
          <img src="assets/img/elan.png" title="ELAN, Équipe Littératures et Arts Numériques de Litt&Arts"/>
          </a>
        </div>
        <div class="col-3">
          <a target="_blank" class="btn btn-light" href="https://gitlab.com/litt-arts-num/crenum" role="button">Code source</a>
          </div>
        </div>
    </div>

    <script src="vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/global_functions.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
