{% extends "base.html.twig" %}

{% block containertype %}container-fluid{% endblock %}

{% block body %}

<!-- Vérification que les données sont disponibles -->
{% set page %}{% block data %}{% endblock %}{% endset %}
{% if page == "" %}
  <h5>Données pas encore disponibles.</h5>
{% else %}
  <div class="row justify-content-center">
    <!-- flèche page précédente -->
    <div class="col-1 align-self-center">
      <i class="fa-solid fa-arrow-left-long" style="font-size:80px" onclick="prev()"></i>
    </div>
    {{ page }}
    <!-- flèche page suivante -->
    <div class="col-1 align-self-center">
      <i class="fa-solid fa-arrow-right-long" style="font-size:80px" onclick="next()"></i>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block js %}<script src="assets/js/livre.js"></script>{% endblock %}
