{% extends "base.html.twig" %}

{% block pageTitle %}Carte{% endblock %}

{% block title %}Carte{% endblock %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-6">
      <img src="assets/img/map.jpeg" alt="">
    </div>
  </div>
{% endblock %}
