{% extends "base.html.twig" %}

{% block pageTitle %}Équipe{% endblock %}

{% block title %}Équipe{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <h4>Ellen Delvallée</h4>
      <p>Paragraphe de blabla</p>
    </div>
    <div class="col-2">
      <a href="https://www.univ-grenoble-alpes.fr/ellen-delvallee-543471.kjsp" target="_blank">Page personnelle</a>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col">
      <h4>Antoine Brix</h4>
      <p>Paragraphe de blabla</p>
    </div>
    <div class="col-2">
      <a href="https://louvanhist.hypotheses.org/584" target="_blank">Page personnelle</a>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col">
      <h4>Benedetta Salvati</h4>
      <p>Paragraphe de blabla</p>
    </div>
    <div class="col-2">
      <a href="https://medialitt.hypotheses.org/benedetta-salvati" target="_blank">Page personnelle</a>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col">
      <h4>Estelle Doudet</h4>
      <p>Paragraphe de blabla</p>
    </div>
    <div class="col-2">
      <a href="https://www.univ-grenoble-alpes.fr/estelle-doudet-543647.kjsp" target="_blank">Page personnelle</a>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col">
      <h4>Frédéric Duval</h4>
      <p>Paragraphe de blabla</p>
    </div>
    <div class="col-2">
      <a href="https://www.chartes.psl.eu/fr/frederic-duval" target="_blank">Page personnelle</a>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col">
      <h4>ELAN , l'Équipe Littératures et Arts Numériques (UMR 5316)</h4><br>
      <p>Dans le cadre de ce projet, sont fournis à ELAN l'intégralité des contenus du futur site sous forme de fichiers XML-TEI : tout est structuré et encodé selon les recommandations de ce standard. ELAN prend ainsi en charge la création d'un site web à partir des fichiers XML-TEI et la proposition de solutions en ligne pour la mise à jour des contenus</p>
    </div>
    <div class="col-2">
      <a href="http://www.elan-numerique.fr/" target="_blank">Les projets d'ELAN</a>
    </div>
  </div>
{% endblock %}
