{% extends "base.html.twig" %}

{% block pageTitle %}Généalogie{% endblock %}

{% block title %}Généalogie{% endblock %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col">
      <img src="assets/img/genealogie.jpg" alt="">
    </div>
  </div>
{% endblock %}
