{% extends "base.html.twig" %}

{% block pageTitle %}Accueil{% endblock %}

{% block title %}CreNum – Édition numérique de la Chronique française de Guillaume Cretin{% endblock %}

{% block body %}
  <div>
    <h5>Le projet "CreNum" consiste en l'édition numérique de la Chronique française de Guillaume Cretin, qui relate les événements de l'histoire de France depuis la guerre de Troie jusqu'au VIIe siècle.</h5>
    <br>
    Composée à la demande de François Ier de 1515 à 1525 et conservée notamment <br>
    dans six riches volumes manuscrits, cette chronique de plus de 25 000 vers est<br>
    l’œuvre d’un poète reconnu à son époque et largement délaissé aujourd’hui. La <br>
    Chronique française, qui n’a été jusqu’à présent que partiellement et partialement <br>
    éditée, est pourtant particulièrement intéressante en ce qu’elle reflète la richesse<br>
    et les expérimentations de l’écriture historique au tournant des XVe et XVIe siècles.<br>
    Soucieux de l’exactitude historique de son récit et confrontant volontiers les<br>
    témoignages écrits pour déterminer de la façon la plus juste les événements,<br>
    Cretin s’écarte en effet régulièrement de cette démarche proprement historienne<br>
    (du moins telle que nous l’entendons aujourd’hui) pour proposer ses propres jugements<br>
    sur les faits narrés, digresser, faire l’éloge de la couronne de France ou le blâme<br>
    de ses mauvais représentants, en des vers plus ou moins ornés, selon qu’ils servent<br>
    seulement à rythmer et mémoriser le récit ou bien à en rehausser les aspects<br>
    récréatifs ou épidictiques. Éditer et étudier la Chronique française, c’est donc<br>
    mettre en lumière une production littéraire qui échappe à nos définitions actuelles<br>
    de la littérature et par là révéler un nouveau pan de notre histoire littéraire,<br>
    entre Moyen Âge et Renaissance.<br>
    <br>
    Le projet est actuellement financé par l’UGA dans le cadre du dispositif IRGA.<br>
    Différentes collaborations, à des échelles locales, nationales et internationales,<br>
    permettent ainsi de mener à bien ce projet ambitieux, tout en plaçant l’UGA au<br>
    cœur de cette dynamique de recherche. Au sein de l’UMR Litt&Arts, la porteuse<br>
    du projet Ellen Delvallée (centre RARE) est associée à l’équipe ELAN (Élan<br>
    Littératures et Arts Numériques), qui est en charge du développement de la<br>
    plate-forme « Chroniques rimées » et qui accompagne l’élaboration des outils<br>
    d’édition numériques et l’encodage du texte. Afin d’étudier un texte à la fois<br>
    poétique et historique, une collaboration avec l’historien Antoine Brix<br>
    (Capital Normal University, Pékin), spécialiste des chroniques médiévales,<br>
    a également vu le jour. Enfin, la conception et l’alimentation de la plate-forme<br>
    « Chroniques rimées » sera menée conjointement avec Benedetta Salvati, doctorante<br>
    travaillant à l’édition numérique de la Chronique rimée de Nicaise Ladam, sous<br>
    la direction d’Estelle Doudet (université de Lausanne) et de Frédéric Duval<br>
    (École Nationale des Chartes). Au-delà de la seule édition de la Chronique<br>
    française, la création de la plate-forme « Chroniques rimées » et la constitution<br>
    d’une équipe de travail permettront donc, à plus long terme, de parachever<br>
    l’édition de la chronique de Cretin, de susciter d’autres travaux éditoriaux<br>
    et de servir de base à l’élaboration de projets de recherche de plus grande<br>
    ampleur.
    <br>
  </div>
{% endblock %}
