<div xmlns="http://www.w3.org/1999/xhtml" class="col-5">
   <nav>
      <div class="nav nav-tabs" id="nav-tab-left" role="tablist"><button class="nav-link active" id="page-left-tab" data-bs-toggle="tab" data-bs-target="#page-left" type="button" role="tab" aria-controls="page-left" aria-selected="true">Manuscrit</button><button class="nav-link" id="diplo-left-tab" data-bs-toggle="tab" data-bs-target="#diplo-left" type="button" role="tab" aria-controls="diplo-left" aria-selected="false">Transcription diplomatique</button><button class="nav-link" id="linear-left-tab" data-bs-toggle="tab" data-bs-target="#linear-left" type="button" role="tab" aria-controls="linear-left" aria-selected="false">Transcription semi-modernisée</button></div>
   </nav><br></br><div class="tab-content" id="nav-tabContent-left">
      <div class="tab-pane fade show active" id="page-left" role="tabpanel" aria-labelledby="page-left-tab" tabindex="0"></div>
      <div class="tab-pane fade" id="diplo-left" role="tabpanel" aria-labelledby="diplo-left-tab" tabindex="0"></div>
      <div class="tab-pane fade" id="linear-left" role="tabpanel" aria-labelledby="linear-left-tab" tabindex="0"></div>
   </div>
</div>
<div xmlns="http://www.w3.org/1999/xhtml" class="col-5">
   <nav>
      <div class="nav nav-tabs" id="nav-tab-right" role="tablist"><button class="nav-link" id="page-right-tab" data-bs-toggle="tab" data-bs-target="#page-right" type="button" role="tab" aria-controls="page-right" aria-selected="false">Manuscrit</button><button class="nav-link active" id="diplo-right-tab" data-bs-toggle="tab" data-bs-target="#diplo-right" type="button" role="tab" aria-controls="diplo-right" aria-selected="true">Transcription diplomatique</button><button class="nav-link" id="linear-right-tab" data-bs-toggle="tab" data-bs-target="#linear-right" type="button" role="tab" aria-controls="linear-right" aria-selected="false">Transcription semi-modernisée</button></div>
   </nav><br></br><div class="tab-content" id="nav-tabContent-right">
      <div class="tab-pane fade" id="page-right" role="tabpanel" aria-labelledby="page-right-tab" tabindex="0"></div>
      <div class="tab-pane fade show active" id="diplo-right" role="tabpanel" aria-labelledby="diplo-right-tab" tabindex="0"></div>
      <div class="tab-pane fade" id="linear-right" role="tabpanel" aria-labelledby="linear-right-tab" tabindex="0"></div>
   </div>
</div>