
<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container-fluid">
    <!-- on peut remplacer le texte ici par une image
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--<button class="btn btn-danger">
        <a class="nav-link" href="index.php">index</a>
      </button>-->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- exemple a disabled - pb ne marche pas mais ne doit pas inclure de href, comment le mettre ?
        <a class="btn btn-outline-primary me-3 disabled" href="index.php" aria-disabled="false" tabindex="0" role="button"><i class="fa-solid fa-house-chimney"></i> Page d'accueil</a>
        esemple a active
          <a class="btn btn-outline-primary me-3 active" role="button" data-bs-toggle="button" aria-pressed="true" href="index.php"><i class="fa-solid fa-house-chimney"></i> Page d'accueil</a>
        -->
        <li class="nav-item">
          <a class="btn btn-outline-primary me-3" href="index.php" onclick="active(this)"><i class="fa-solid fa-house-chimney"></i> Page d'accueil</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-3" href="index.php?page=livre1"><i class="fa-solid fa-book"></i> Livre I</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-3" href="index.php?page=livre2"><i class="fa-solid fa-book"></i> Livre II</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-3" href="index.php?page=livre3"><i class="fa-solid fa-book"></i> Livre III</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-3" href="index.php?page=livre4"><i class="fa-solid fa-book"></i> Livre IV</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-3" href="index.php?page=livre5"><i class="fa-solid fa-book"></i> Livre V</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-3" href="index.php?page=genealogie"><i class="fa-solid fa-people-roof"></i> Généalogie</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-3" href="index.php?page=carte"><i class="fa-solid fa-map-location-dot"></i> Carte</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-3" href="index.php?page=actu"><i class="fa-solid fa-newspaper"></i> Actualités</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-3" href="index.php?page=equipe"><i class="fa-solid fa-people-group"></i> Équipe</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
